---
permalink: /index.html
layout: false
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/de/">
  <title>FAS Expedition</title>
</head>
<body>
</body>
</html>
