---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <url>
    <loc>{{ site.url }}/de/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/" />
  </url>
  <url>
    <loc>{{ site.url }}/en/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/" />
  </url>
  <url>
    <loc>{{ site.url }}/de/expeditionsmobile/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/expeditionsmobile/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/expedition-vehicles/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/expeditionsmobile/" />
  </url>
  <url>
    <loc>{{ site.url }}/en/expedition-vehicles/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/expeditionsmobile/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/expedition-vehicles/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/expeditionsmobile/" />
  </url>
  <url>
    <loc>{{ site.url }}/de/modulare-systeme/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/modulare-systeme/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/modular-systems/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/modulare-systeme/" />
  </url>
  <url>
    <loc>{{ site.url }}/en/modular-systems/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/modulare-systeme/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/modular-systems/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/modulare-systeme/" />
  </url>
  <url>
    <loc>{{ site.url }}/de/brabus/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/brabus/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/brabus/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/brabus/" />
  </url>
  <url>
    <loc>{{ site.url }}/en/brabus/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/brabus/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/brabus/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/brabus/" />
  </url>
  <url>
    <loc>{{ site.url }}/de/konfigurator/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/konfigurator/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/configurator/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/konfigurator/" />
  </url>
  <url>
    <loc>{{ site.url }}/en/configurator/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/konfigurator/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/configurator/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/konfigurator/" />
  </url>
  <url>
    <loc>{{ site.url }}/de/blog/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/blog/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/blog/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/blog/" />
  </url>
  <url>
    <loc>{{ site.url }}/en/blog/</loc>
    <xhtml:link rel="alternate" hreflang="de" href="{{ site.url }}/de/blog/" />
    <xhtml:link rel="alternate" hreflang="en" href="{{ site.url }}/en/blog/" />
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/de/blog/" />
  </url>
</urlset>
